{{>layout/header}}

<div>
    <form>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{post.title}}">
            </div>
            <div class="form-group col-md-4">
                <label for="author">작성자</label>
                <input type="text" class="form-control" id="author" value="{{post.author}}" readonly>
            </div>
        </div>
        <div class="col-md-10">
            <textarea class="form-control" id="content">{{post.content}}</textarea>
        </div>
    </form>
</div>
<div class="row float-right">
    <a href="/post/{{post.idx}}" role="button" class="btn btn-danger">취소</a>
    <button type="button" id="btn-post-update" class="btn btn-primary">수정</button>
    <div class="d-none" id="idx">{{post.idx}}</div>
</div>

{{>layout/footer}}